<app-navbar></app-navbar>
<h4>Change Password</h4>
<form [formGroup]="changeform">
        <igx-input-group>
            <input igxInput name="newPassword" type="password" formControlName="newPassword" />
            <label igxLabel for="newPassword">New Password</label>
        </igx-input-group>
        <igx-input-group>
            <input igxInput name="repeatePassword" type="password" formControlName="repeatePassword" />
            <label igxLabel for="repeatePassword">Repeate Password</label>
        </igx-input-group>
        <button mat-raised-button color="primary" style="margin-top: 5px;"  [disabled]="!changeform.valid" (click)="change()">Change</button>
        </form>
        
