<app-navbar></app-navbar>
<div>
    <div class="firstName">
<h6 class="title">First Name: </h6><h6 class="data">{{firstName}}</h6>
</div>
<div class="firstName">
    <h6 class="title">Last Name: </h6><h6 class="data">{{lastName}}</h6>
    </div>
<div class="firstName">
<h6 class="title">Email: </h6><h6 class="data">{{email}}</h6>
</div>
<div class="firstName">
    <h6 class="title">Country:</h6><h6 class="data">{{country}}</h6>
    </div>
    <div class="firstName">
        <h6 class="title">Date of Birth: </h6><h6 class="data">{{dob}}</h6>
        </div>
        <div class="firstName">
            <h6 class="title">Password </h6><h6 class="data">****************</h6><button mat-button color="primary" (click)="changePassword()">ChangePassword</button>
            </div>
</div>