<app-navbar></app-navbar>
<h4>Edit User</h4>
    <article class="sample-column">
        <form [formGroup]="editform">
            <igx-input-group>
                <input type="text" [(ngModel)]="firstName" igxInput  formControlName="firstName" />
                <label igxLabel for="firstName">First Name</label>
            </igx-input-group>
            <igx-input-group>
                <input type="text"[(ngModel)]="lastName" igxInput  formControlName="lastName" />
                <label igxLabel for="lastName">Last Name</label>
            </igx-input-group>
            <igx-input-group>
                <input type="email" [(ngModel)]="email" igxInput  formControlName="email" />
                <label igxLabel for="email">Email</label>
            </igx-input-group>
            <igx-input-group>
                <input igxInput name="dob" type="date" [(ngModel)]="dob" formControlName="dob"/>
                <label for="firstName">Date of Birth</label>
            </igx-input-group>
            <igx-input-group>
                <input igxInput name="country" type="text" [(ngModel)]="country" formControlName="country" />
                <label igxLabel for="country">Country</label>
            </igx-input-group>
            <button mat-raised-button color="primary" style="margin-top: 5px;" [disabled]="!editform.valid" (click)="editUser()">Save</button>
            </form>